div{
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.menu{
    width: 5%;
    display: block;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.cartaz{
    display: inline-block;
    width: fit-content;
    margin-left: 200px;
    margin-right: 200px;
    
}

.caixa_cartaz{
    justify-content:center;
    display: flex;
}

.hoje{
    color: darkred;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}

.amanha{
    color: darkblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}

a{
    text-decoration: none;
}

h2, a{
    color: seagreen;
}


