.quadro{
    border: 1px solid black;
    background-color: #111;
    font-family: Arial, Helvetica, sans-serif;
    text-align:left;
    border-radius: 4px;
    width: 100%;
    padding: 10px;
    margin: 5px;
    flex: 1;
}

.caixa{
    /*border: 1px solid rgb(201, 115, 115);*/
    background-color: #332200;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 20%;
}

span{
    color: #febe01;
}

p{
    color: #b2b2b2;
    font-size: 15px;
    /*border: 1px solid white;*/
}

h2{
    color: antiquewhite;
    /*border: 1px solid white;*/
}
h1{
    color: antiquewhite;
    margin: 20px;
}

a{
    border: 1px solid #332200;
    padding: 4px;
    background-color: #febe01;
    border-radius: 6px;
    color: #111;
    text-decoration: none;
    white-space: nowrap;
}

body{
    background-color: #332200;
}
a:hover{
    background-color: white;
    padding: 6px;
}
/*
.titulo{
    text-align: center;
    border: 1px solid black;
    background-color: #111;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 4px;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}

.titulo2{
    border: 1px solid white;
    justify-content: center;
}
    */